  <div class="hello">asdsdsds</div>
  <table class="table">
  <thead>
    <tr>
      <th>Images</th>
      <th>Factory</th>
      <th>Article</th>
      <th>Type Furniture</th>
      <th>Finishing</th>
      <th>Finishing for Client</th>
      <th>Size</th>
      <th>Unit price</th>
      <th>%</th>
      <th>Unit price netto</th>
      <th>Summ netto</th>
      <th>Unit V</th>
      <th>Summ V</th>
      <th>Factor</th>
      <th>Unit Price</th>
      <th>Number of</th>
      <th>Summ</th>
    </tr>
  </thead>
  <tbody>

    <%= bootstrap_form_for([@project, @specific, @specific.table_specifics.build], :html => { :multipart => true }) do |f| %>
      <% if @specific.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@specific.errors.count, "error") %> prohibited this specific from being saved:</h2>
          <ul>
          <% @specific.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>     
    <tr>
    <% @specific.table_specifics.each do |table_specific| %>
    <% @project.containers.each do |photo| %>
      <% if photo.name == table_specific.id.to_s %>
        <td><%= image_tag photo.image %></td>
      <% end %>
    <% end %>      
      
        <td><%= table_specific.factory %></td>
        <td><%= table_specific.article %></td>
        <td><%= table_specific.type_furniture %></td>
        <td><%= table_specific.finishing %></td>
        <td><%= table_specific.finishing_for_client %></td>
        <td><%= table_specific.size %></td>
        <td><%= table_specific.unit_price %></td>
        <td><%= table_specific.percent_discount %></td>
        <td><%= table_specific.unit_price_netto %></td>
        <td><%= table_specific.summ_netto %></td>
        <td><%= table_specific.unit_v %></td>
        <td><%= table_specific.summ_v %></td>
        <td><%= table_specific.factor %></td>
        <td><%= table_specific.unit_price %></td>
        <td><%= table_specific.number_of %></td>
        <td><%= table_specific.summ %></td>       
      </tr>
    <% end %>
      <tr>
        
        <td><%= file_field_tag "images[]", type: :file, multiple: true, hide_label: true %></td>
        <td><%= f.text_field :factory, hide_label: true %></td>
        <td><%= f.text_field :article, hide_label: true %></td>
        <td><%= f.text_field :type_furniture, hide_label: true %></td>
        <td><%= f.text_field :finishing, hide_label: true %></td>
        <td><%= f.text_field :finishing_for_client, hide_label: true %></td>
        <td><%= f.number_field :size, hide_label: true %></td>
        <td><%= f.text_field :unit_price, hide_label: true %></td>
        <td><%= f.text_field :percent_discount, hide_label: true %></td>
        <td><%= f.text_field :unit_price_netto, hide_label: true %></td>
        <td><%= f.number_field :summ_netto, hide_label: true %></td>
        <td><%= f.number_field :unit_v, hide_label: true %></td>
        <td><%= f.number_field :summ_v, hide_label: true %></td>
        <td><%= f.number_field :factor, hide_label: true %></td>
        <td><%= f.number_field :unit_price, hide_label: true %></td>
        <td><%= f.number_field :number_of, hide_label: true %></td>
        <td><%= f.number_field :summ, hide_label: true%></td>
      </tr>
  </tbody>
</table>
        <%= f.submit %>
<% end %>



