<p id="notice"><%= notice %></p>

<p>
  <strong>Factory:</strong>
  <%= @table_specific.factory %>
</p>

<p>
  <strong>Model:</strong>
  <%= @table_specific.model %>
</p>

<p>
  <strong>Finishing:</strong>
  <%= @table_specific.finishing %>
</p>

<p>
  <strong>Description:</strong>
  <%= @table_specific.description %>
</p>

<p>
  <strong>Size:</strong>
  <%= @table_specific.size %>
</p>

<p>
  <strong>Number:</strong>
  <%= @table_specific.number %>
</p>

<p>
  <strong>Factory price:</strong>
  <%= @table_specific.factory_price %>
</p>

<p>
  <strong>Factory sum:</strong>
  <%= @table_specific.factory_sum %>
</p>

<p>
  <strong>Factor:</strong>
  <%= @table_specific.factor %>
</p>

<p>
  <strong>Price euro:</strong>
  <%= @table_specific.price_euro %>
</p>

<p>
  <strong>Sum euro:</strong>
  <%= @table_specific.sum_euro %>
</p>

<p>
  <strong>V:</strong>
  <%= @table_specific.v %>
</p>

<p>
  <strong>Specific:</strong>
  <%= @table_specific.specific %>
</p>

<%= link_to 'Edit', edit_table_specific_path(@table_specific) %> |
<%= link_to 'Back', table_specifics_path %>
