<p id="notice"><%= notice %></p>

<p>
  <strong>Brend:</strong>
  <%= @factory_light.brend %>
</p>

<p>
  <strong>Regin:</strong>
  <%= @factory_light.regin %>
</p>

<p>
  <strong>Factor:</strong>
  <%= @factory_light.factor %>
</p>

<p>
  <strong>Minimum order:</strong>
  <%= @factory_light.minimum_order %>
</p>

<p>
  <strong>Delivery time:</strong>
  <%= @factory_light.delivery_time %>
</p>

<p>
  <strong>Table specification:</strong>
  <%= @factory_light.table_specification %>
</p>

<%= link_to 'Edit', edit_factory_light_path(@factory_light) %> |
<%= link_to 'Back', factory_lights_path %>
