<p id="notice"><%= notice %></p>

<p>
  <strong>Brend:</strong>
  <%= @factory.brend %>
</p>

<p>
  <strong>Web:</strong>
  <%= @factory.web %>
</p>

<p>
  <strong>Autirification:</strong>
  <%= @factory.autirification %>
</p>

<p>
  <strong>Style:</strong>
  <%= @factory.style %>
</p>

<p>
  <strong>Line product:</strong>
  <%= @factory.line_product %>
</p>

<p>
  <strong>Catalog:</strong>
  <%= @factory.catalog %>
</p>

<p>
  <strong>Price:</strong>
  <%= @factory.price %>
</p>

<p>
  <strong>Discount:</strong>
  <%= @factory.discount %>
</p>

<p>
  <strong>Additional discount:</strong>
  <%= @factory.additional_discount %>
</p>

<p>
  <strong>Delivery term:</strong>
  <%= @factory.delivery_term %>
</p>

<p>
  <strong>Note:</strong>
  <%= @factory.note %>
</p>

<p>
  <strong>Reference:</strong>
  <%= @factory.reference %>
</p>

<%= link_to 'Edit', edit_factory_path(@factory) %> |
<%= link_to 'Back', factories_path %>
