<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specific.name %>
</p>

<p>
  <strong>Project:</strong>
  <%= @project.address %>
</p>

<%= link_to 'New Line', new_project_specific_table_specific_path(@project, @specific)%>
<%= link_to 'Back', project_specifics_path  %> 
